In [10]:
#import the needed libraries

import pandas
import tensorflow as tf
import numpy
from matplotlib import pyplot as plt

In [11]:
%matplotlib inline

data.csv - housing price dataset

index, area (size of house), number of bathrooms, price per sq foot

look at pytorch

In [14]:
# Load the data
dataframe = pandas.read_csv('data.csv')

#Drop columns with unneeded features
dataframe = dataframe.drop(['index', 'price', 'sq_price'], axis=1)
# only use the first ten rows
dataframe = dataframe[0:10]
dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [20]:
# turn this into a classification problem by adding labels
# good buy 1, bad 0
dataframe.loc[:, ('y1')] =[1, 1, 1, 0, 0, 1, 0, 1, 1, 1]
dataframe.loc[:, ('y2')] = dataframe['y1'] == 0
dataframe.loc[:, ('y2')] = dataframe['y2'].astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [24]:
#prep data for tensorflow

inputX = dataframe.loc[:, ('area', 'bathrooms')].as_matrix()
inputY = dataframe.loc[:, ('y1', 'y2')].as_matrix()
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

In [25]:
# write out hyper parameters

learning_rate = 0.000001
training_epochs = 2000
display_steps = 50
n_samples = inputY.size
inputY.size

20

In [34]:
# write out computational graph/neural network
# for feature input tensors
# placeholders are gateways
x = tf.placeholder(tf.float32, [None, 2])

#weights
# 2x2 float matrix, that is updated thorugh training process
# Variables hold and update parameters
W = tf.Variable(tf.zeros([2,2])) 

#biases
b = tf.Variable(tf.zeros([2]))

#multiply weights by inputs
#weights are how we govern how data flows in the graph
y_values = tf.add(tf.matmul(x, W), b)

y = tf.nn.softmax(y_values)

y_= tf.placeholder(tf.float32, [None, 2])

In [35]:
# do training

#create cost function
# reduce_sum computes the sum of elements across dimensions tensor
cost = tf.reduce_sum(tf.pow(y_ - y, 2))/(2*n_samples)

#Gradient descent
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [42]:
#initialize variable and tensorflow session
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)

In [46]:
#training loop
for i in xrange(training_epochs):
    sess.run(optimizer, feed_dict={x:inputX, y_:inputY})
    if i % display_steps == 0:
        cc = sess.run(cost, feed_dict={x: inputX, y_: inputY})
        print "T step", '%04d' % (i), "cost=", "{:.9f}".format(cc)
print "Done"
training_cost = sess.run(cost, feed_dict={x: inputX, y_:inputY})
print "T Cost = ", training_cost
print "W=", sess.run(W)
print "b = ", sess.run(b)

T step 0000 cost= 0.109534547
T step 0050 cost= 0.109534480
T step 0100 cost= 0.109534428
T step 0150 cost= 0.109534346
T step 0200 cost= 0.109534279
T step 0250 cost= 0.109534219
T step 0300 cost= 0.109534144
T step 0350 cost= 0.109534070
T step 0400 cost= 0.109534003
T step 0450 cost= 0.109533928
T step 0500 cost= 0.109533884
T step 0550 cost= 0.109533809
T step 0600 cost= 0.109533742
T step 0650 cost= 0.109533668
T step 0700 cost= 0.109533593
T step 0750 cost= 0.109533526
T step 0800 cost= 0.109533451
T step 0850 cost= 0.109533392
T step 0900 cost= 0.109533325
T step 0950 cost= 0.109533265
T step 1000 cost= 0.109533191
T step 1050 cost= 0.109533116
T step 1100 cost= 0.109533049
T step 1150 cost= 0.109532975
T step 1200 cost= 0.109532915
T step 1250 cost= 0.109532833
T step 1300 cost= 0.109532788
T step 1350 cost= 0.109532699
T step 1400 cost= 0.109532639
T step 1450 cost= 0.109532572
T step 1500 cost= 0.109532498
T step 1550 cost= 0.109532438
T step 1600 cost= 0.109532356
T step 1650 cost= 0.109532312
T step 1700 cost= 0.109532237
T step 1750 cost= 0.109532163
T step 1800 cost= 0.109532095
T step 1850 cost= 0.109532021
T step 1900 cost= 0.109531954
T step 1950 cost= 0.109531894
Done
T Cost =  0.109532
W= [[ 0.00021394 -0.00021395]
 [ 0.00015306 -0.00015306]]
b =  [  3.54989497e-05  -3.54989534e-05]

In [48]:
sess.run(y, feed_dict= {x:inputX})

array([[ 0.71120942,  0.28879055],
       [ 0.66498959,  0.33501044],
       [ 0.73651242,  0.26348755],
       [ 0.6471585 ,  0.3528415 ],
       [ 0.78329271,  0.2167073 ],
       [ 0.70070404,  0.29929593],
       [ 0.65866917,  0.34133083],
       [ 0.64830232,  0.35169768],
       [ 0.6437034 ,  0.35629663],
       [ 0.65481079,  0.34518918]], dtype=float32)